@import "./components/adRenderer/adsertAds.css";
@import "./components/button/button.css";

.adsertUI {
  position: fixed;
  inset: auto 16px 16px auto;
  z-index: 9999;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji;
}
